<!DOCTYPE html>
<html>
  <head>
    <title>KoombeaCodingTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <%= link_to 'Pages', pages_path if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } if user_signed_in? %>
      <%= link_to 'Sign In', new_user_session_path if !user_signed_in? %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
